@use 'mixins' as *;

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 41px;
  padding: 55px 0 57px 0;
  width: 100%;

  @include respond-to(md) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 32px;
    padding: 100px 0 120px 0;
    width: 100%;
  }

  @include respond-to(xxl) {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 32px;
    padding: 100px 0 120px 0;
    width: 100%;
  }

  &__item {
    flex: initial;

    @include respond-to(md) {
      flex: 1 1 352px;
    }

    @include respond-to(1440px) {
      flex: 0 1 352px;
    }
  }
}
