@use 'mixins' as *;

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  padding: 55px 0 57px 0;
  width: 100%;

  @include respond-to(md) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px 32px;
    padding: 100px 0 120px 0;
    width: 100%;
  }

  @include respond-to(xxl) {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 32px;
    padding: 100px 0 120px 0;
    width: 100%;
  }

  &__item {
    width: 288px;

    @include respond-to(md) {
      width: calc((100% - 32px) / 2);
    }

    @include respond-to(xxl) {
      width: calc((100% - 64px) / 3);
    }
  }
}
