@use 'vars' as *;
@use 'mixins' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: inset 0 0 0 1px $color-black;
  border-radius: 48px;
  font-size: 13px;
  font-family: $font-base;
  color: inherit;
  z-index: 1;
  transition: color 0.3s ease;
  letter-spacing: -0.32px;
  line-height: 24px;
  border: none;

  &:disabled {
    opacity: 0.8;
    box-shadow: none;
    animation: none;
    pointer-events: none;
  }

  &--primary {
    background-color: $color-black;
    color: $color-white;

    &:disabled {
      background-color: #666666;
      color: #cccccc;
    }
  }

  &--outlined {
    background-color: transparent;
    color: $color-black;

    &:disabled {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px #888;
      color: #888888;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: transparent;
        color: $color-white;
      }
    }
  }

  @include respond-to(sm) {
    font-size: 16px;
    box-shadow: inset 0 0 0 2px $color-black;

    @include hover-gradient-animation();
  }
}
