@use 'vars' as *;
@use 'mixins' as *;

.contacts {
  background-color: $color-yellow-secondary;
  padding: 10px 0 10px 0;

  @include respond-to(md) {
    padding: 21px 0 36px 0;
  }

  &__link {
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      background-color: $color-black;
      width: 100%;
      height: 2px;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    @include respond-to(md) {
      font-size: $font-size-xl;
      letter-spacing: 0;
      line-height: normal;
      position: relative;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover::after {
        opacity: 1;
      }
    }
  }
}
