@use 'vars' as *;
@use 'mixins' as *;

.contact {
  display: flex;
  flex-direction: column;
  padding: 40px 0;

  @include respond-to(xxl) {
    flex-direction: row;
    padding: 64px 0;
  }

  &__info {
    @include respond-to(xxl) {
      flex: 1;
      padding-left: 19px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

    @include respond-to(md) {
      flex-direction: row;
      gap: 32px;
      margin-bottom: 30px;
      align-items: center;
    }

    @include respond-to(xxl) {
      flex: 1;
      gap: 32px;
      padding-left: 19px;
      align-items: flex-start;
      margin-bottom: 0;
    }
  }

  &__emoji {
    width: 45px;
    height: 45px;

    @include respond-to(xxl) {
      margin-top: 7px;

      &--mobile {
        margin-top: 9px;
      }
    }
  }

  &__title {
    font-size: $font-size-xl;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;

    @include respond-to(md) {
      font-size: 30px;
    }

    @include respond-to(xxl) {
      font-size: 36px;
    }
  }

  &__hint-text {
    font-size: $font-size-lg;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 24px;
    margin-top: 7px;
    display: none;

    @include respond-to(xxl) {
      display: flex;
    }

    &--messengers {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
