.footer {
  background-color: var(--black);
  padding: 64px 0px 26px 0px;
}
.main {
  display: flex;
  flex-direction: column-reverse;
  gap: 45px;
}
.contact-block {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.messengers {
  display: flex;
  gap: 14px;
}
.messenger-link {
  color: white;
  display: block;
}
.emails {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  align-items: flex-start;
}
.email-link {
  text-decoration: underline;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  background: linear-gradient(0deg, white, white);
  background-clip: text;
  color: white;
  transition: background 0.3s ease, color 0.3s ease;
  font-weight: 400;
}
.additional-text {
  color: var(--white);
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
  font-weight: 300;
  opacity: 0.5;
  margin-top: 26.42px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 50px 0px 37px 0px;
  }
  .main {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  .contact-block {
    gap: 14px;
  }
  .messengers {
    gap: 12px;
  }
  .messenger-link {
    transition: transform 0.3s ease;
  }
  .emails {
    gap: 6px;
    align-items: flex-end;
  }
  .additional-text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 8px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .messenger-link:hover {
    transform: scale(1.1);
  }
  .email-link:hover {
    background: linear-gradient(217deg, rgb(0, 255, 149), rgba(255, 255, 255, 0.7) 70.71%),
      linear-gradient(127deg, rgb(0, 208, 255), rgba(255, 255, 255, 0.7) 70.71%),
      linear-gradient(336deg, rgba(0, 255, 0, 1), rgba(255, 255, 255, 0.7) 70.71%);
    background-clip: text;
    color: transparent;
  }
}
