@use 'vars' as *;
@use 'mixins' as *;

.pagination {
  padding: 35px;
  margin-top: 40px;
  border-top: 2px solid $color-black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;

  @include respond-to(sm) {
    gap: 28px;
  }

  &__list {
    display: flex;
    gap: 2px;

    @include respond-to(sm) {
      gap: 5px;
    }
  }

  &__btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: background-color 300ms ease;

    &--disabled {
      pointer-events: none;
      color: #636363;
    }

    @include respond-to(sm) {
      width: 30px;
      height: 30px;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: #d7d7d7;
      }
    }
  }

  &__number {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: border-color 300ms ease;
    line-height: 1;
    font-size: 11px;
    width: 20px;
    height: 20px;

    &--active {
      border-color: $color-black;
      pointer-events: none;
    }

    &--not-clickable {
      pointer-events: none;
    }

    @include respond-to(sm) {
      font-size: 13px;
      width: 30px;
      height: 30px;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border-color: $color-black;
        fill: #878787;
      }
    }
  }
}
