<section class="hero">
  <h1 class="hero__title">Реформування системи містобудування</h1>
  <div class="hero__buttons">
    <app-button
      [text]="'Відеотрансляція'"
      [variant]="'primary'"
      [icon]="'play'"
      [iconHeight]="width <= 520 ? 15 : 18"
      [iconWidth]="width <= 520 ? 15 : 18"
      [width]="width <= 520 ? 211 : 241"
      [height]="width <= 520 ? 48 : 56"
      class="hero__button"
      (click)="handlePresentationClick()"
    />
    <app-button
      [text]="'Новини'"
      [variant]="'outlined'"
      [icon]="'news'"
      [iconHeight]="24"
      [iconWidth]="24"
      [width]="162"
      [height]="width <= 520 ? 48 : 56"
      class="hero__button"
      href="/news"
    />
  </div>
</section>
