@font-face {
  font-family: 'e-Ukraine';
  src: url('/assets/fonts/e-Ukraine-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('/assets/fonts/e-Ukraine-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'e-Ukraine Head';
  src: url('/assets/fonts/e-UkraineHead-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
