@use 'vars' as *;
@use 'mixins' as *;

.toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;

  @include respond-to(md) {
    justify-content: space-between;
    align-items: flex-start;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    gap: 10px;

    @include respond-to(md) {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      gap: 0;
    }
  }

  &__searchbox {
    position: relative;
  }

  &__search {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    border: none;
    max-width: 300px;
    width: 100%;
    padding: 12px 45px 12px 24px;
    font-family: $font-base;
    border-radius: 100px;
    outline: none;
  }

  &__search-icon {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__select {
    font-size: 16px;
    font-family: $font-base;
    width: 100%;
    max-width: 300px;
    caret-color: transparent;
  }

  &__sort {
    font-size: 16px;
    font-family: $font-base;
    width: 100%;
    max-width: 200px;
    caret-color: transparent;
  }
}
