@use 'mixins' as *;

.news {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 20px;
  align-items: stretch;

  &__item {
    flex: 1 1 320px;
    display: flex;
    flex-direction: column;

    @include respond-to(lg) {
      flex: 0 1 calc(50% - 16px);
    }
  }
}
