.link {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #cdcdd3;
  transition: background-color 0.5s ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #cdcdd3;
    }
  }
}
