@use 'vars' as *;

.logo {
  display: flex;
  align-items: center;

  &__vertical-line {
    height: 44px;
    width: 2px;
    margin: 0 10px;

    &--mobile {
      height: 26px;
      width: 1px;
      margin: 0 6px;
    }
  }

  &__text {
    font-size: $font-size-base;
    width: 142px;
    font-family: $font-head;
    letter-spacing: 0;
    line-height: 21px;
    color: inherit;

    &--mobile {
      font-size: 8px;
      line-height: 1.3;
      width: 82px;
    }
  }
}
